<% provide :title do %><%= t('proposals.index.title') %><% end %>
<% content_for :header_addon do %>
  <%= render "shared/search_form",
             search_path: proposals_path(page: 1, is_proposal: true),
             i18n_namespace: "proposals.index.search_form",
             is_proposal: true %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposals_url %>
<% end %>

<main>
  <%= render "shared/section_header", title: Setting['proposals_title_header'], i18n_namespace: "proposals.index.section_header", description: Setting['proposals_description_header'],  title_help: Setting['proposals_title_help'], is_proposals: true %>

  <div class="row">
    <div id="proposals" class="proposals-list small-12 medium-9 column">

      <% if has_banners? %>
        <%= render "shared/banner" %>
      <% end %>

      <% if @featured_proposals.present? %>
        <div id="featured-proposals" class="row featured-proposals">
          <div class="small-12 column">
            <h3>
              <%= t("proposals.index.featured_proposals") %>
            </h3>
          </div>
          <% @featured_proposals.each do |featured_proposal| %>
            <%= render "featured_proposal", proposal: featured_proposal %>
          <% end %>
        </div>
      <% end %>

      <%= render 'shared/order_links', i18n_namespace: "proposals.index" %>

      <% if @proposals.any? %>
        <div class="show-for-small-only">
          <%= link_to t("proposals.index.start_proposal"),
                      new_proposal_guide,
                      class: 'button expanded' %>
        </div>
      <% end %>

      <div id="proposals-list">
        <% if @proposals.any? || current_user.blank? %>
          <%= render partial: 'proposals/proposal', collection: @proposals %>
        <% else %>
          <%= empty_recommended_proposals_message_text(current_user, true) %>
        <% end %>
        <%= paginate @proposals %>
      </div>
    </div>

    <div class="small-12 medium-3 column">
      <aside class="margin-bottom">
        <div class="proposals-create expanded">
          <% if !Proposal.is_proposal.in_active_period? %>
            <div class="participation-not-allowed" style='display:none' aria-hidden="false">
              <%= t("proposals.inactive",
                    date_from: @proposal_date_from,
                    date_to: @proposal_date_to).html_safe %>
            </div>
          <% end %>
          <% if Proposal.can_manage?(current_user, true) %>
            <%= link_to t("proposals.index.start_proposal"),
                        new_proposal_guide,
                        class: 'button expanded' %>
          <% end %>
        </div>
        <% if params[:retired].blank? %>
          <%= render 'categories' %>
          <%= render 'geozones' %>
          <div id="section_help" class="margin" data-magellan-target="section_help">
            <h2 class="sidebar-title"><%= t("proposals.index.section_footer.title") %></h2>
            <p>Cualquier persona puede crear propuestas, ya sea en carácter individual o en representación de organismos públicos, sociedad civil organizada, academia o sector privado.<br><br>
            Para crear una propuesta, debe registrarse en Usuario <%= link_to 'gub.uy', 'https://gub.uy', target: :_blank %> e iniciar sesión. Luego hacer clic en el botón "Crear una propuesta" y completá los datos que aparecen en el formulario.<br><br>
            Ingresá el título de la propuesta, un resumen de la idea y una explicación más detallada de las acciones propuestas. Además existe la posibilidad de adjuntar materiales, como imágenes, videos, documentos y links a páginas de internet que complemente, enriquezca o justifique su propuesta.<br><br>
            Una vez creada, la propuesta aparecerá en el listado de propuestas para que otras personas puedan comentar y/o realizar un aporte a la misma.<br><br>
            Plazo para ingresar y comentar propuestas Enero 2021<br><br>
            Una "propuesta de Gobierno Abierto" es una idea para impulsar acciones vinculadas a transparencia, acceso a la información pública, rendición de cuentas, participación y colaboración ciudadana e innovación. Estas acciones podrán ser de cualquier temática de interés de la persona, por ejemplo salud, medio ambiente, anticorrupción, discapacidad, derechos humanos, compras públicas, desarrollo local, etc.<br>
            </p>
          </div>
        <% end %>
      </aside>
    </div>

  </div>
</main>
