<% provide :title do %><%= t('proposals.index.title') %><% end %>
<% content_for :header_addon do %>
  <%= render "shared/search_form",
             search_path: legislation_proposals_path(page: 1),
             i18n_namespace: "legislation_proposals.index.search_form",
             is_proposal: false %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposals_url %>
<% end %>

<main>

  <%= render "shared/section_header",  title: Setting['legislation_proposals_title_header'], i18n_namespace: "legislation_proposals.index.section_header", description: Setting['legislation_proposals_description_header'], title_help: Setting['legislation_proposals_title_help'], is_proposals: false %>

  <div class="row">
    <div id="proposals" class="proposals-list small-12 medium-9 column">

      <% if has_banners? %>
        <%= render "shared/banner" %>
      <% end %>

      <%= render 'shared/order_links', i18n_namespace: "legislation_proposals.index" %>

      <% if @proposals.any? %>
        <div class="show-for-small-only">
          <%= link_to t("legislation_proposals.index.start_proposal"),
                      new_legislation_proposal_path,
                      class: 'button expanded' %>
        </div>
      <% end %>

      <div id="proposals-list">
        <% if @proposals.any? || current_user.blank? %>
          <%= render partial: 'proposal', collection: @proposals %>
        <% else %>
          <%= empty_recommended_proposals_message_text(current_user, false) %>
        <% end %>
        <%= paginate @proposals %>
      </div>
    </div>

    <div class="small-12 medium-3 column">
      <aside class="margin-bottom">
        <div class="proposals-create expanded">
          <% if !Proposal.legislation_in_active_period? %>
            <div class="participation-not-allowed" style='display:none' aria-hidden="false">
              <%= t("legislation_proposals.inactive",
                    date_from: @proposal_date_from,
                    date_to: @proposal_date_to).html_safe %>
            </div>
          <% end %>
          <% if Proposal.can_manage?(current_user, false) %>
            <%= link_to t("legislation_proposals.index.start_proposal"),
                         new_legislation_proposal_path,
                        class: 'button expanded' %>
          <% end %>
        </div>
        <% if params[:retired].blank? %>
          <% if Setting.to_bool('legislation_proposals_categories_is_visible') %>
            <%= render 'categories' %>
          <% end %>
          <% if Setting.to_bool('legislation_proposals_group_is_visible') %>
            <%= render 'geozones' %>
          <% end %>
          <div id="section_help" class="margin" data-magellan-target="section_help">
            <h2 class="sidebar-title"><%= Setting['legislation_proposals_title_help']%></h2>
            <p>Cualquier persona, nacional o extranjera puede realizar aportes y/o comentarios, ya sea a título individual o en representación de organismos públicos, sociedad civil organizada, academia o sector privado.</p>
            <p>Para realizar aportes y/o comentarios:</p>
            <ul>
              <li>Debes previamente registrarte en Usuario <%= link_to 'gub.uy ', 'https://www.gub.uy ', target: :_blank %> (antes ID Uruguay) e iniciar sesión en la plataforma.
              </li>
              <li>Luego ingresar en la sección <%= link_to '"Consulta Pública"', legislation_proposals_path(is_proposal: false) %> en la propuesta  y en “Comentarios” incorporar tu aporte. También puedes realizar comentarios a otros ya existentes
              </li>
            </ul>
            <p>Tus aportes y/o comentarios nos sirven para mejorar el documento, garantizando que el mismo refleje la visión de todos los actores vinculados a la temática de ciberseguridad nacional.</p>
          </div>
        <% end %>
      </aside>
    </div>
  </div>
</main>
