<% content_for :canonical do %>
  <%= render "shared/canonical", href: faq_url %>
<% end %>

<div class="row margin-top">
  <div class="menu small-12 medium-3 column">
    <%= back_link_to %>

    <ul class="menu vertical margin-top">
      <li><a href="#1">¿Cómo puedo participar en la consulta pública?</a></li>
      <li><a href="#2">¿Todas las personas pueden registrase en ID Uruguay?</a></li>
      <li><a href="#3">¿Quiénes pueden participar en la consulta pública?</a></li>
      <li><a href="#4">¿Qué información encontrará en la consulta pública?</a></li>
      <li><a href="#5">¿Qué tipo de aportes y/o comentarios se pueden realizar?</a></li>
      <li><a href="#6">¿Cuánto tiempo tengo para participar en la consulta pública?</a></li>
      <li><a href="#7">¿En qué etapas del proceso de la consulta pública puedo participar?</a></li>
      <li><a href="#8">¿Puedo enviar aportes y/o comentarios por otros medios?</a></li>
      <li><a href="#9">¿Qué sucederá con los aportes y/o comentarios ingresados en la plataforma?</a></li>
      <li><a href="#10">¿Mi aporte y/o comentario formará parte del Documento final de la Estrategia país sobre Inteligencia Artificial?</a></li>
      <li><a href="#11">¿Las propuestas y los comentarios serán publicados automáticamente?</a></li>
      <li><a href="#12">¿Por qué se implementó esta plataforma?</a></li>
      <li><a href="#13">¿Dónde puedo consultar Estrategias de otros países?</a></li>
      <li><a href="#14">¿Dónde puedo encontrar más información sobre el proceso de Uruguay?</a></li>
    </ul>
  </div>

  <div class="text small-12 medium-9 column">

    <h4 id="1">¿Cómo puedo participar en la consulta pública?</h4>
    <p>Para realizar aportes y/o comentarios en una consulta pública, previamente tenés que registrarte en <%= link_to 'ID Uruguay', 'https://mi.iduruguay.gub.uy/registro', target: :_blank %> e iniciar sesión en la plataforma.</p>

    <h4 id="2">¿Todas las personas pueden registrase en ID Uruguay?</h4>
    <p>Sí; ya sean nacionales y/o extranjeros.</p>

    <h4 id="3">¿Quiénes pueden participar en la consulta pública?</h4>
    <p>Cualquier persona a título personal o en representación de organismos del Estado, la sociedad civil organizada, la academia, el sector privado y otros.</p>

    <h4 id="4">¿Qué información encontrará en la consulta pública?</h4>
    <p>En las etapas de consulta encontrará las propuestas y el documento correspondiente para descargar.</p>

    <h4 id="5">¿Qué tipo de aportes y/o comentarios se pueden realizar?</h4>
    <p>Es posible realizar cualquier tipo de aportes y/o comentarios, siempre y cuando no sean inadecuados en virtud de su lenguaje o los contenidos que involucren. Los aportes y/o comentarios tienen como objetivo enriquecer la información que contiene el documento. Podrán validar, ampliar, agregar, quitar información sobre los principios o cualquier contenido del documento.</p>

    <h4 id="6">¿Cuánto tiempo tengo para participar en la consulta pública?</h4>
    <p>UEn la sección más información encontrará los plazos de cada una de las etapas en las que puede participar.</p>

    <h4 id="7">¿En qué etapas del proceso de la consulta pública puedo participar?</h4>
    <p>El proceso de consulta pública para definir el documento final para una  “Estrategia nacional sobre  Inteligencia Artificial”, tiene 4 etapas, podrá participar de la etapa 1 y 3.
    </p>

    <h4 id="8">¿Puedo enviar aportes y/o comentarios por otros medios?</h4>
    <p>No; todos los aportes y/o comentarios, ya sea a título personal o en representación de un organismo del Estado, la sociedad civil o la academia, deberán ser ingresadas en esta plataforma.</p>

    <h4 id="9">¿Qué sucederá con los aportes y/o comentarios ingresados en la plataforma?</h4>
    <p>Una vez finalizado el plazo, todos los aportes y/o comentarios serán procesados, sistematizados y analizados por un equipo técnico de Agesic, para luego priorizar en el Grupo multidisciplinario responsable de redactar las versiones finales de los documentos, cuáles serán los aportes que finalmente integrarán el mismo o no.<br>
    Al finalizar el proceso de la consulta pública, el equipo técnico de Agesic realizará una evaluación del mismo, enviando a todas las personas que participaron un informe con el estado de su aporte y/o comentario. </p>

    <h4 id="10">¿Mi aporte y/o comentario formará parte del Documento final de la Estrategia país sobre Inteligencia Artificial?</h4>
    <p>Todos los aportes y/o comentarios serán analizados por el Grupo multidisciplinario integrado por técnicos de Agesic, para luego definir, de acuerdo a su viabilidad, cual o cuales son posibles integrar al documento.
    </p>

    <h4 id="11">¿Las propuestas y los comentarios serán publicados automáticamente?</h4>
    <p>Sí; una vez que se realiza un aporte y/o comentario, estos quedan automáticamente publicados y visibles para todas las personas. Solo podrá bloquearse alguna propuesta o comentario que se considere inadecuado a juicio del moderador de la plataforma. Dicho moderador tendrá un rol pasivo, ya que solo intervendrá en caso de que hayan aportes y/o comentarios que incluyan contenidos o propaganda de carácter racista, sexista, xenófobo, de apología a la violencia o que atenten contra los derechos humanos y la dignidad de las personas. Asimismo, el moderador podrá eliminar aportes y/o comentarios redactados con lenguaje insultante, que atenten contra la legislación vigente en materia de derechos fundamentales y libertades públicas (especialmente, en lo concerniente al derecho al honor, la intimidad y la propia imagen) y que puedan considerarse “spam”.</p>

    <h4 id="12">¿Por qué se implementó esta plataforma?</h4>
    <p> Esta plataforma virtual se implementó para que todas las personas puedan participar, sin barreras geográficas ni temporales, en la discusión sobre la implementación de Inteligencia artificial en el Estado, ya que las políticas públicas relacionadas a la temática tendrán impacto directo en la ciudadanía.<br>
    <strong>¿Qué es un principio? </strong>Es una regla que sirve como guía para definir la conducta a partir de lo que se toma como válido o bueno.<br>
    <strong>¿Qué entendemos por Inteligencia Artificial? </strong>Es un campo de la informática que estudia y desarrolla sistemas capaces de realizar tareas que normalmente se atribuyen a la inteligencia humana, como por ejemplo traducir un documento o reconocer a una persona por su cara. También incluye sistemas que aprenden a comportarse de manera autónoma, como vehículos sin conductor, robots, o programas que juegan ajedrez o realizan otras actividades.</p>

    <h4 id="13">¿Dónde puedo consultar Estrategias de otros países?</h4>
    <p>Estrategia de IA de Francia <%= link_to 'https://www.aiforhumanity.fr/en/', 'https://www.aiforhumanity.fr/en/', target: :_blank %><br>
      Estrategia de IA de Italia <%= link_to 'https://ia.italia.it/', 'https://ia.italia.it/', target: :_blank %><br>
      Estrategia de IA de EEUU <%= link_to 'https://www.nitrd.gov/news/national_ai_rd_strategic_plan.aspx', 'https://www.nitrd.gov/news/national_ai_rd_strategic_plan.aspx', target: :_blank %><br>
      Estrategia de IA de Japón <%= link_to 'https://www.nedo.go.jp/content/100865202.pdf', 'https://www.nedo.go.jp/content/100865202.pdf', target: :_blank %><br>
      Estrategia de IA de Canadá <%= link_to 'https://www.cifar.ca/ai/pan-canadian-artificial-intelligence-strategy', 'https://www.cifar.ca/ai/pan-canadian-artificial-intelligence-strategy', target: :_blank %><br>
      Unión Europea sobre IA <%= link_to 'https://ec.europa.eu/digital-single-market/en/artificial-intelligence', 'https://ec.europa.eu/digital-single-market/en/artificial-intelligence', target: :_blank %><br>
      Alemania sobre IA <%= link_to 'https://www.bmwi.de/Redaktion/EN/Downloads/E/key-points-for-federal-government-strategy-on-artificial-intelligence.pdf?__blob=publicationFile&v=4', 'hhttps://www.bmwi.de/Redaktion/EN/Downloads/E/key-points-for-federal-government-strategy-on-artificial-intelligence.pdf?__blob=publicationFile&v=4', target: :_blank %>
    </p>

    <h4 id="14">¿Dónde puedo encontrar más información sobre el proceso de Uruguay?</h4>
    <p>Por más información <%= link_to 'www.agesic.gub.uy', 'www.agesic.gub.uy', target: :_blank %></p>

  </div>
</div>
