<% content_for :canonical do %>
  <%= render "shared/canonical", href: faq_url %>
<% end %>

<div class="row margin-top">
  <div class="menu small-12 medium-3 column">
    <%= back_link_to %>

    <ul class="menu vertical margin-top">
      <li><a href="#1">¿Cuál es el objetivo de esta plataforma?</a></li>
      <li><a href="#2">¿Qué es Gobierno Abierto?</a></li>
      <li><a href="#3">¿Qué es la Alianza para el Gobierno Abierto?</a></li>
      <li><a href="#4">¿Qué son los planes de acción de Gobierno Abierto?</a></li>
      <li><a href="#5">¿En qué etapas del proceso de cocreación de los planes puedo participar a través de esta plataforma?</a></li>
      <li><a href="#6">¿Cómo ingreso para participar en la plataforma?</a></li>
      <li><a href="#7">¿Cómo puedo participar en la Etapa 1 y en la Etapa 3?</a></li>
      <li><a href="#8">¿Quiénes pueden participar en la plataforma?</a></li>
      <li><a href="#9">¿Qué sucederá con las propuestas?</a></li>
      <li><a href="#10">¿Mi propuesta formará parte del presente plan de acción?</a></li>
      <li><a href="#11">¿Quién es el responsable de implementar mi propuesta?</a></li>
      <li><a href="#12">¿Puedo enviar propuestas por otros medios?</a></li>
      <li><a href="#13">¿Qué tipo de comentarios y/o aportes se pueden realizar a las propuestas?</a></li>
      <li><a href="#14">¿Las propuestas, comentarios y aportes de estas serán publicados automáticamente?</a></li>
      <li><a href="#15">¿Qué otro ámbito de participación existen para ser parte de la cocreación del plan?</a></li>
      <li><a href="#16">¿Qué hacer si en la lista predefinida de categorías, no encuentro la que mejor se asocia con mi propuesta?</a></li>
      <li><a href="#17">¿Qué información está disponible para participar en la etapa de consulta pública?</a></li>
      <li><a href="#18">¿Qué pasa con los comentarios y/o aportes que se realizan en la consulta pública?</a></li>
      <li><a href="#19">¿Dónde puedo encontrar más información?</a></li>
    </ul>
  </div>

  <div class="text small-12 medium-9 column">
    <h4 id="1">¿Cuál es el objetivo de esta plataforma?</h4>
    <p>El objetivo es poder facilitar la participación de todas las personas  en el proceso de cocreación de los planes de acción de gobierno abierto.</p>

    <h4 id="2">¿Qué es Gobierno Abierto?</h4>
    <p>Es el conjunto de mecanismos y estrategias que contribuye a la gobernanza pública y al buen gobierno, basado en los pilares de la transparencia, acceso a la información pública, rendición de cuentas públicas, participación ciudadana, colaboración e innovación pública, centrando e incluyendo a la ciudadanía en el proceso de toma de decisiones, así como en la formulación e implementación de políticas públicas, para fortalecer la democracia, la legitimidad de la acción pública, mejores servicios públicos y calidad de vida de las personas.</p>

    <h4 id="3">¿Qué es la Alianza para el Gobierno Abierto?</h4>
    <p>La Alianza para el Gobierno Abierto (AGA u OGP por su sigla en inglés) es una iniciativa multilateral que tiene como objetivo impulsar la adopción de compromisos  concretos por parte de los gobiernos para promover la transparencia, la rendición de cuentas, la participación y colaboración ciudadana, combatir la corrupción y aprovechar las nuevas tecnologías para fortalecer la gobernabilidad. </p>
    <p>Desde 2011 Uruguay forma parte de la Alianza para el Gobierno Abierto. Todos los países que la integran deben elaborar y presentar planes de acción de gobierno abierto, compuestos por iniciativas cocreadas entre los organismos del Estado y otros múltiples actores interesados de la sociedad civil, la academia y el sector privado.</p>
    <p>Ver más información sobre la Alianza para el Gobierno Abierto en <%= link_to 'www.opengovpartnership.org', 'https://www.opengovpartnership.org/', target: :_blank%> </p>

    <h4 id="4">¿Qué son los planes de acción de Gobierno Abierto?</h4>
    <p>Los planes de acción integran un conjunto de compromisos, cuyas iniciativas (proyectos o programas)  fueron cocreadas entre los organismos del Estado, sociedad civil, academia, el sector privado y la ciudadanía en general; y promueven los pilares de Gobierno Abierto</p>
    <p>Luego de aprobados, los planes de acción nacionales tienen un plazo de ejecución determinado.</p>
    <p>Durante el período de implementación y ejecución se realiza el seguimiento y monitoreo del avance de cumplimiento a través de un <%= link_to 'Grupo de Trabajo', 'https://www.gub.uy/agencia-gobierno-electronico-sociedad-informacion-conocimiento/grupo-de-trabajo-gobierno-abierto', target: :_blank%> integrado por representantes de gobierno, sociedad civil y academia y una evaluación externa a través de un mecanismo de revisión independiente. Ver información de otros planes en <%= link_to 'Estrategia en Uruguay', 'https://www.gub.uy/agencia-gobierno-electronico-sociedad-informacion-conocimiento/gobierno-abierto', target: :_blank%>.</p>

    <h4 id="5">¿En qué etapas del proceso de cocreación de los planes puedo participar a través de esta plataforma?</h4>
    <p>Se puede participar en la etapa 1. Crear, comentar y aportar y en la etapa 3. Cocreación y Consulta pública.</p>

    <h4 id="6">¿Cómo ingreso para participar en la plataforma?</h4>
    <p>Para participar, se deberá registrar en Usuario gub.uy e iniciar sesión en la plataforma.</p>

    <h4 id="7">¿Cómo puedo participar en la Etapa 1 y en la Etapa 3?</h4>
    <p>En la etapa 1, podrás crear una propuesta que aporte al menos a uno de los pilares de gobierno abierto, las mismas podrán ser de cualquier temática de su interés, como por ejemplo discapacidad, anticorrupción, medio ambiente, etc. A su vez, podrás comentar y/o aportar a otras propuestas existentes.</p>
    <p>En la etapa 3, podrás comentar y/o aportar a aquellas propuestas que han avanzado en el proceso y que se han transformado en compromisos preliminares. El objetivo de estos es enriquecer los compromisos puestos a consulta pública.</p>

    <h4 id="8">¿Quiénes pueden participar en la plataforma?</h4>
    <p>En la etapa 1 y en la etapa 3 del proceso podrá participar toda persona interesada que se haya registrado,  a título personal o en representación de organismos del Estado, la sociedad civil organizada, la academia, el sector privado y otros.</p>

    <h4 id="9">¿Qué sucederá con las propuestas?</h4>
    <p>Una vez finalizado el plazo, las propuestas presentadas en la etapa 1 del proceso  serán sistematizadas y analizadas para luego ser priorizadas en el Grupo de Trabajo de Gobierno Abierto. Al finalizar el proceso, el estado de tu propuesta se publicará junto con tu propuesta. Allí se indicará si tu propuesta se transformó en un compromiso, si se integró parcialmente a un compromiso, si su ejecución no se considera viable, etc. En caso de que tu propuesta no sea considerada en esta instancia, podrá ser considerada para la ejecución de futuros planes de acción.</p>

    <h4 id="10">¿Mi propuesta formará parte del presente plan de acción?</h4>
    <p>Todas las propuestas, comentarios y aportes serán analizadas por el Grupo de Trabajo de Gobierno Abierto, para luego ser priorizadas según los criterios establecidos. Aquellas cuya viabilidad y sostenibilidad lo permita se transformarán, total o parcialmente, en compromisos que integren el plan; otras propuestas, en cambio, ya sea por su naturaleza, por falta de infraestructura para implementarlas o por ausencia de organismos que puedan ejecutarla, no serán integradas al presente plan de acción nacional de gobierno abierto, pero aun así serán consideradas para otros planes posteriores. Al finalizar el proceso, se podrá visualizar el estado de cada una de las propuestas a través de esta plataforma.</p>

    <h4 id="11">¿Quién es el responsable de implementar mi propuesta?</h4>
    <p>Los organismos del Estado serán los responsables de analizar la viabilidad de implementación dentro del plazo de ejecución que dispone el plan. Aquellas que se consideren viables de realizar, evolucionarán hasta transformarse en compromisos del presente plan de acción de gobierno abierto y, en tal caso, el/los organismo/s público/s responsable/s de su implementación.</p>

    <h4 id="12">¿Puedo enviar propuestas por otros medios?</h4>
    <p>No; todas las propuestas, ya sea a título personal o en representación de un organismo del Estado, la sociedad civil o la academia, deberán ser ingresadas en esta plataforma. Si lo desea, podrá participar de instancias de cocreación donde podrán presentar las propuestas y analizar en conjunto la viabilidad de las mismas con el resto de los actores interesados. Una vez cumplidas las instancias presenciales todas las propuestas deberán ser ingresadas en la plataforma para que todas las personas puedan conocerlas y comentarlas. En caso de dudas sobre el proceso <%= link_to 'www.gub.uy/gobierno-abierto', 'https://www.gub.uy/gobierno-abierto', target: :_blank%>.</p>

    <h4 id="13">¿Qué tipo de comentarios y/o aportes se pueden realizar a las propuestas?</h4>
    <p>Es posible realizar todos aquellos comentarios que entienda que pueden contribuir a mejorar la propuesta, formular observaciones técnicas u otro tipo de aportes que se valore pertinente por la persona que participa. Se exhorta a las y los usuarios de la plataforma que el lenguaje utilizado sea consistente con las pautas de convivencia social y la no discriminación, de forma de contribuir a robustecer el debate público y habilitar un entorno en el que toda persona se sienta estimulada, segura y confiada para el ejercicio de su derecho a la participación.</p>

    <h4 id="14">¿Las propuestas, comentarios y aportes de estas serán publicados automáticamente?</h4>
    <p>Sí; una vez que se realiza una propuesta, comentario y/o aporte, estos quedan automáticamente publicados y visibles para todas las personas. Solo podrá bloquearse alguna propuesta o comentario que se considere inadecuado a juicio de un moderador. Dicho moderador tendrá un rol pasivo, ya que solo intervendrá en caso de que hayan propuestas y/o comentarios que incluyan contenidos o propaganda de carácter racista, sexista, xenófobo, de apología a la violencia o que atenten contra los derechos humanos y la dignidad de las personas. Asimismo, el moderador podrá eliminar propuestas y comentarios redactados con lenguaje insultante, que atenten contra la legislación vigente en materia de derechos fundamentales y libertades públicas (especialmente, en lo concerniente al derecho al honor, la intimidad y la propia imagen) y que puedan considerarse “spam”.</p>

    <h4 id="15">¿Qué otro ámbito de participación existen para ser parte de la cocreación del plan?</h4>
    <p>Existen durante el proceso de cocreación mesas de diálogo y trabajo en la etapa1 y talleres de cocreación durante la etapa3, que tienen como objetivo la creación de espacios de intercambio entre los diferentes actores sobre potenciales iniciativas y/o demandas de la sociedad civil que puedan transformarse en compromisos. Todas las ideas y/o propuestas presentadas en los diferentes ámbitos serán publicadas también en esta plataforma para que puedan ser comentadas. Para conocer información sobre el calendarios de actividades <%= link_to 'www.gub.uy/gobierno-abierto', 'https://www.gub.uy/gobierno-abierto', target: :_blank%>.</p>

    <h4 id="16">¿Qué hacer si en la lista predefinida de categorías, no encuentro la que mejor se asocia con mi propuesta?</h4>
    <p>Pedir asesoramiento al equipo de gobierno abierto de Agesic enviando un correo electrónico a <%= mail_to 'gobiernoabierto@agesic.gub.uy', target: :_blank%>. </p>

    <h4 id="17">¿Qué información está disponible para participar en la etapa de consulta pública?</h4>
    <p>En la plataforma estarán publicadas las propuestas que hayan evolucionado hasta transformarse en compromisos preliminares. Las mismas incluirán objetivos, metas, plazos de implementación y actores responsables y ya habrán pasado un proceso de análisis de viabilidad para su ejecución.</p>

    <h4 id="18">¿Qué pasa con los comentarios y/o aportes que se realizan en la consulta pública?</h4>
    <p>Una vez que cierre el plazo para realizar comentarios y/o aportes, estos serán sistematizados y se intercambiarán con los organismos responsables a efectos de definir la viabilidad de su incorporación en el compromiso.</p>

    <h4 id="19">¿Dónde puedo encontrar más información?</h4>
    <p>Por más información acceder a la guía de apoyo publicada en <%= link_to 'www.gub.uy/gobierno-abierto', 'https://www.gub.uy/gobierno-abierto', target: :_blank %>.</p>

  </div>
</div>
