<% content_for :canonical do %>
  <%= render "shared/canonical", href: faq_url %>
<% end %>

<div class="row margin-top">
  <div class="menu small-12 medium-3 column">
    <%= back_link_to %>

    <ul class="menu vertical margin-top">
      <li><a href="#1">¿Cómo se puede participar en la consulta pública?</a></li>
      <li><a href="#2">¿Todas las personas pueden tener un Usuario gub.uy (antes ID Uruguay)?</a></li>
      <li><a href="#3">¿Quiénes pueden participar en la consulta pública?</a></li>
      <li><a href="#4">¿Qué información se puede encontrar en la consulta pública?</a></li>
      <li><a href="#5">¿Qué tipo de aportes y/o comentarios se pueden realizar?</a></li>
      <li><a href="#6">¿Cuál es el plazo para participar en la consulta pública?</a></li>
      <li><a href="#7">¿En qué etapas del proceso de la consulta pública se puede participar?</a></li>
      <li><a href="#8">¿Se pueden enviar aportes y/o comentarios por otros medios?</a></li>
      <li><a href="#9">¿Qué sucederá con los aportes y/o comentarios ingresados en la plataforma?</a></li>
      <li><a href="#10">Las propuestas y los comentarios, ¿serán publicados automáticamente?</a></li>
      <li><a href="#11">¿Por qué se implementó esta plataforma?</a></li>
      <li><a href="#12">¿Dónde encuentro más información sobre el Marco de Ciberseguridad de Uruguay?</a></li>
      <li><a href="#13">¿Qué es un Marco de Ciberseguridad?</a></li>
      <li><a href="#14">¿Cómo concebimos nuestro modelo de madurez?</a></li>
      <li><a href="#15">¿Dónde puedo consultar el Cybersecurity Framework (CSF) del National Institute of Standards and Technology (NIST)?</a></li>
      <li><a href="#16">¿Existen otros países que han adoptado el CSF del NIST? ¿Cuáles?</a></li>
      
    </ul>
  </div>

  <div class="text small-12 medium-9 column">

    <h4 id="1">¿Cómo se puede participar en la consulta pública?</h4>
    <p>Para realizar aportes y/o comentarios en una consulta pública, hay que registrarse con Usuario <%= link_to 'gub.uy', 'https://www.gub.uy/', target: :_blank %> (antes ID Uruguay)  e iniciar sesión en la plataforma.</p>

    <h4 id="2">¿Todas las personas pueden tener un Usuario gub.uy (antes ID Uruguay)?</h4>
    <p>Sí, ya sean nacionales o extranjeras.</p>

    <h4 id="3">¿Quiénes pueden participar en la consulta pública?</h4>
    <p>Cualquier persona, a título personal o en representación de organismos del Estado, la sociedad civil organizada, la academia, el sector privado y otros.</p>

    <h4 id="4">¿Qué información se puede encontrar en la consulta pública?</h4>
    <p>En las etapas de consulta se encuentran las propuestas y el documento correspondiente para descargar.</p>

    <h4 id="5">¿Qué tipo de aportes y/o comentarios se pueden realizar?</h4>
    <p>Es posible realizar cualquier tipo de aportes y/o comentarios, siempre y cuando no sean inadecuados en virtud de su lenguaje o los contenidos que involucren. Los aportes y/o comentarios tienen como objetivo enriquecer la información que contiene el documento. Se podrá validar, ampliar, agregar o quitar información sobre los principios o cualquier contenido del documento.</p>

    <h4 id="6">¿Cuál es el plazo para participar en la consulta pública?</h4>
    <p>En la sección <%= link_to '“Más información”', more_info_url %> se encuentran los plazos de cada una de las etapas en las que se puede participar.</p>

    <h4 id="7">¿En qué etapas del proceso de la consulta pública se puede participar?</h4>
    <p>El proceso de consulta pública para definir el documento final “Estrategia de Inteligencia Artificial para el Gobierno Digital” tiene cuatro etapas; se puede participar en las etapas I y III.
    </p>

    <h4 id="8">¿Se pueden enviar aportes y/o comentarios por otros medios?</h4>
    <p>No; todos los aportes y/o comentarios, ya sea a título personal o en representación de un organismo del Estado, la sociedad civil o la academia, deberán ser ingresados en esta plataforma.</p>

    <h4 id="9">¿Qué sucederá con los aportes y/o comentarios ingresados en la plataforma?</h4>
    <p>Una vez finalizado el plazo, todos los aportes y/o comentarios serán procesados, sistematizados y analizados por un equipo técnico de Agesic. Luego, el grupo multidisciplinario responsable de redactar las versiones finales priorizará cuáles serán los aportes que finalmente integrarán el documento.<br>
    Al finalizar la consulta pública, el equipo técnico de Agesic realizará una evaluación de proceso, enviando a todas las personas que participaron un informe con el estado de su aporte y/o comentario.</p>

    <h4 id="10">Las propuestas y los comentarios, ¿serán publicados automáticamente?</h4>
    <p>Sí; una vez que se realiza un aporte y/o comentario, estos quedan automáticamente publicados y visibles para todas las personas. Solo podrán bloquearse propuestas o comentarios que se consideren inadecuados a juicio del moderador de la plataforma. Dicho moderador tendrá un rol pasivo, ya que solo intervendrá en caso de que existan aportes y/o comentarios que incluyan contenidos o propaganda de carácter racista, sexista o xenófobo, que hagan apología de la violencia o que atenten contra los derechos humanos y la dignidad de las personas. Asimismo, el moderador podrá eliminar aportes y/o comentarios redactados con lenguaje insultante, que atenten contra la legislación vigente en materia de derechos fundamentales y libertades públicas (especialmente, en lo concerniente al derecho al honor, la intimidad y la propia imagen) y que puedan considerarse “spam”.</p>

    <h4 id="11">¿Por qué se implementó esta plataforma?</h4>
    <p>Esta plataforma virtual se implementó para que todas las personas puedan participar, sin barreras geográficas ni temporales, en la discusión sobre la implementación de la Inteligencia Artificial en el Estado, ya que las políticas públicas relacionadas con la temática tendrán impacto directo en la ciudadanía.<br>

    <h4 id="12">¿Dónde encuentro más información sobre el Marco de Ciberseguridad de Uruguay?</h4>
    <p>En el centro de recursos de Agesic puede descargar el documento de Marco de Ciberseguridad y puede encontrar material de apoyo: <%= link_to 'https://centroderecursos.agesic.gub.uy/web/seguridad/wiki/-/wiki/Main/Marco+de+Ciberseguridad', 'https://centroderecursos.agesic.gub.uy/web/seguridad/wiki/-/wiki/Main/Marco+de+Ciberseguridad', target: :_blank %></p>

    
    <h4 id="13">¿Qué es un Marco de Ciberseguridad?</h4>
    <p>A diferencia de un estándar de ciberseguridad que pauta detalladamente los controles que se deben aplicar, un marco de ciberseguridad establece problemas o temáticas que se deben abordar para tener una visión integral de la ciberseguridad, asociando a cada temática los controles de los estándares internacionalmente reconocidos (como pueden ser los de ISO/IEC27001, COBIT 5, NIST 800-53 Rev4, entre otros)</p>

    <h4 id="14">¿Cómo concebimos nuestro modelo de madurez?</h4>
    <p>El modelo de madurez forma parte del Marco de Referencia de Ciberseguridad de Uruguay y consta de cinco niveles. Fue definido para las subcategorías que tengan prioridad P1 (Subcategoría que forma parte de una línea base de ciberseguridad, de abordaje inmediato y cumplimiento en el corto plazo) en alguno de los perfiles establecidos.</p>

    <p>Un perfil representa las necesidades de ciberseguridad, basadas en los objetivos de negocio, considerando el riesgo percibido y la dependencia existente de las TIC. Cada organización tendrá asignado un perfil objetivo sobre el cual trabajar. Se han definido tres perfiles para poder priorizar y establecer el avance en ciberseguridad: básico, estándar y avanzado.</p>  
    
    <p>A continuación el detalle de los niveles de madurez existentes:</p>
    
    <h5>Nivel 0</h5>
    
    <p>Es el primer nivel del modelo de madurez donde las acciones vinculadas a seguridad de la información y ciberseguridad, son casi o totalmente inexistentes. La organización no ha reconocido aún la necesidad de realizar esfuerzos en ciberseguridad. Este nivel no es incluido en la tabla del modelo de madurez.</p>
    
    <h5>Nivel 1</h5>

    <p>Es el segundo nivel del modelo. Existen algunas iniciativas sobre ciberseguridad, aunque los esfuerzos se realizan en forma aislada. Se realizan implementaciones con enfoques ad-hoc y existe alta dependencia del personal que lleva a cabo las tareas que habitualmente no se encuentran documentadas. Existe una actitud reactiva ante incidentes de seguridad.</p>
    
    <h5>Nivel 2</h5>

    <p>Es el tercer nivel del modelo de madurez. Se han establecido ciertos lineamientos o pautas para la ejecución de las tareas, pero aún existe dependencia del conocimiento individual. Se ha avanzado en el desarrollo de los procesos y existe cierta documentación para realizar las tareas.</p> 
    
    <h5>Nivel 3</h5>

    <p>Es el cuarto nivel del modelo de madurez y se caracteriza por la formalización y documentación de políticas y procedimientos, así como implementaciones de alta complejidad y/o automatizaciones que centralizan y permiten iniciativas de gobernanza. Las políticas y procedimientos son difundidos, facilitan la gestión y posibilitan establecer controles y métricas. Los esfuerzos en ciberseguridad se enfocan en los procesos, las personas y la tecnología.</p> 
    
    <h5>Nivel 4</h5>

    <p>Es el último nivel del modelo de madurez. El Responsable de la Seguridad de la Información (RSI) tiene un rol clave en el control y mejora del Sistema de Gestión de Seguridad de la Información (SGSI) realizando o coordinando actividades de control interno para verificar cumplimientos y desvíos. Se desarrollan las lecciones aprendidas que, junto con los controles determinan las acciones para la mejora continua. Las partes interesadas son informadas periódicamente, lo cual permite alinear los esfuerzos, estrategias y tecnologías de ciberseguridad con los objetivos y estrategias de la organización.</p>

    <p>Acceder a la información completa del modelo de madurez.</p>


    <h4 id="15">¿Dónde puedo consultar el Cybersecurity Framework (CSF) del National Institute of Standards and Technology (NIST)?</h4>
    <p>Para consultar el Marco de Ciberseguridad CFS del NIST puede acceder al sitio de Instituto Nacional de Estándares y Tecnología <%= link_to 'https://www.nist.gov/cyberframework/framework', 'https://www.nist.gov/cyberframework/framework', target: :_blank %></p>

    <h4 id="16">¿Existen otros países que han adoptado el CSF del NIST? ¿Cuáles?</h4>
    <p>Existen otros países que hayan adoptado el CFS del NIST y son los siguientes: <br>
    Italia:<br>
    <%= link_to 'https://www.cybersecurityframework.it/sites/default/files/framework2/Framework_nazionale_cybersecurity_data_protection.pdf', 'https://www.cybersecurityframework.it/sites/default/files/framework2/Framework_nazionale_cybersecurity_data_protection.pdf', target: :_blank %><br>
    Suiza:<br>
    <%= link_to 'https://www.bwl.admin.ch/bwl/en/home/themen/ikt/ikt_minimalstandard.html', 'https://www.bwl.admin.ch/bwl/en/home/themen/ikt/ikt_minimalstandard.html', target: :_blank %><br>
    Israel:<br>
    <%= link_to 'https://www.gov.il/BlobFolder/policy/cyber_security_methodology_for_organizations/he/Cyber1.0_english_617_A4.pdf', 'https://www.gov.il/BlobFolder/policy/cyber_security_methodology_for_organizations/he/Cyber1.0_english_617_A4.pdf', target: :_blank %><br>
    Japón:<br>
    <%= link_to 'https://www.nist.gov/cyberframework/success-stories/japanese-cross-sector-forum', 'https://www.nist.gov/cyberframework/success-stories/japanese-cross-sector-forum', target: :_blank %><br>
    Reino Unido <br>
    <%= link_to 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/719067/25062018_Minimum_Cyber_Security_Standard_gov.uk__3_.pdf', 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/719067/25062018_Minimum_Cyber_Security_Standard_gov.uk__3_.pdf', target: :_blank %><br>

    </p>

  </div>
</div>
