<% content_for :canonical do %>
  <%= render "shared/canonical", href: faq_url %>
<% end %>

<div class="row margin-top">
  <div class="menu small-12 medium-3 column">
    <%= back_link_to %>

    <ul class="menu vertical margin-top">
      <li><a href="#1">¿Cómo se puede participar en la consulta pública?</a></li>

      <li><a href="#2">¿Quiénes pueden participar en la consulta pública?</a></li>
      
      <li><a href="#3">¿Qué información se puede encontrar en la consulta pública?</a></li>
      
      <li><a href="#4">¿Qué tipo de aportes y comentarios se pueden realizar?</a></li>
      
      <li><a href="#5">¿Cuál es el plazo para participar en la consulta pública?</a></li>
      
      <li><a href="#6">¿En qué etapas del proceso de la consulta pública se puede participar?</a></li>

      <li><a href="#7">¿Se pueden enviar aportes y comentarios por otros medios?</a></li>

      <li><a href="#8">¿Qué sucederá con los aportes y comentarios ingresados en la plataforma?</a></li>

      <li><a href="#9">Las propuestas y los comentarios, ¿serán publicados automáticamente?</a></li>

      <li><a href="#10">¿Por qué se implementó esta plataforma?</a></li>

      <li><a href="#11">¿Dónde encuentro más información sobre el Marco de Ciberseguridad de Uruguay?</a></li>

      <li><a href="#12">¿Qué es un “Marco de Ciberseguridad”?</a></li>

      <li><a href="#13">¿Cómo se concibe el modelo de madurez en Uruguay?</a></li>

      <li><a href="#14">¿Dónde se puede consultar el Cybersecurity Framework (CSF) del National Institute of Standards and Technology (NIST)? </a></li>

      <li><a href="#15">¿Existen otros países que han adoptado el CSF del NIST?</a></li>

      
    </ul>
  </div>

  <div class="text small-12 medium-9 column">

    <h4 id="1">¿Cómo se puede participar en la consulta pública?</h4>
    <p>Para realizar aportes y/o comentarios a esta consulta pública, hay que registrarse con Usuario gub.uy (antes ID Uruguay) e iniciar sesión en la plataforma.</p>

    <h4 id="2">¿Quiénes pueden participar en la consulta pública?</h4>
    <p>Puede participar cualquier persona, sea nacional o extranjera, a título personal o en representación de organismos del Estado, la sociedad civil organizada, la academia, el sector privado y otros.</p>

    <h4 id="3">¿Qué información se puede encontrar en la consulta pública?</h4>
    <p>En las etapas de la consulta pública se encuentran las propuestas y el documento correspondiente para descargar.</p>

    <h4 id="4">¿Qué tipo de aportes y comentarios se pueden realizar?</h4>
    <p>Es posible realizar cualquier tipo de aportes y comentarios, siempre y cuando no sean inadecuados en virtud de su lenguaje o los contenidos que involucren. Los aportes y comentarios tienen como objetivo enriquecer la información que contiene el documento. Se podrá validar, ampliar, agregar o quitar información sobre los principios o cualquier contenido del documento.</p>

    <h4 id="5">¿Cuál es el plazo para participar en la consulta pública?</h4>
    <p>En la sección “Más información” se detalla los plazos de cada una de las etapas en las que se puede participar.</p>

    <h4 id="6">¿En qué etapas del proceso de la consulta pública se puede participar?</h4>
    <p>El proceso de consulta pública para definir el documento final de Estrategia de Ciudadanía Digital para la Sociedad de la Información y el Conocimiento tiene cuatro etapas; se puede participar en las etapas I y II.</p>

    <h4 id="7">¿Se pueden enviar aportes y comentarios por otros medios?</h4>
    <p>No; todos los aportes y comentarios deben ser ingresados en esta plataforma.</p>

    <h4 id="8">¿Qué sucederá con los aportes y comentarios ingresados en la plataforma?</h4>
    <p>Una vez finalizado el plazo, todos los aportes y comentarios serán procesados, sistematizados y analizados por un equipo técnico de Agesic. Luego, el grupo multidisciplinario responsable de redactar las versiones finales priorizará cuáles serán los aportes que finalmente integrarán el documento. Al finalizar la consulta pública, el equipo técnico de Agesic realizará una evaluación de proceso, enviando a todas las personas que participaron un informe con el estado de sus aportes y comentarios.</p>
    
    <h4 id="9">Las propuestas y los comentarios, ¿serán publicados automáticamente?</h4>
    <p>Sí; una vez que se realiza un aporte o comentario, estos quedan automáticamente publicados y visibles para todas las personas. Solo podrán bloquearse propuestas o comentarios que se consideren inadecuados a juicio del moderador de la plataforma. Dicho moderador tendrá un rol pasivo, ya que solo intervendrá en caso de que existan aportes y/o comentarios que incluyan contenidos o propaganda de carácter racista, sexista o xenófobo, que hagan apología de la violencia o que atenten contra los derechos humanos y la dignidad de las personas. Asimismo, el moderador podrá eliminar aportes y comentarios redactados con lenguaje insultante, que atenten contra la legislación vigente en materia de derechos fundamentales y libertades públicas (especialmente, en lo concerniente al derecho al honor, la intimidad y la propia imagen) y que puedan considerarse “spam”.</p>

    <h4 id="10">¿Por qué se implementó esta plataforma?</h4>
    <p>Esta plataforma virtual se implementó para que todas las personas puedan participar, sin barreras geográficas ni temporales, en la discusión sobre la Estrategia de Ciudadanía Digital para la Sociedad de la Información y el Conocimiento, ya que las políticas públicas relacionadas con la temática tendrán impacto directo en la ciudadanía.</p>

    <h4 id="11">¿Qué es Ciudadanía Digital?</h4>
    <p>Ciudadanía refiere a todos los derechos y obligaciones por los cuales un individuo está sujeto a una relación con la sociedad de la que forma parte.</p>
    <p>Ciudadanía digital es un concepto que está en permanente construcción. Refiere principalmente a nuestros comportamientos y actitudes en los espacios digitales, y al mismo tiempo a nuestros derechos y obligaciones.</p>
    <p>UNESCO define la Ciudadanía Digital como “… un conjunto de competencias que faculta a los ciudadanos a acceder, recuperar, comprender, evaluar y utilizar, para crear, así como compartir información y contenidos de los medios en todos los formatos, utilizando diversas herramientas, de manera crítica, ética y eficaz con el fin de participar y comprometerse en actividades personales, profesionales y sociales.”</p>
    <p>Un ciudadano digital, entonces, debe poder ejercer sus derechos y cumplir sus obligaciones en el entorno digital, un entorno relativamente nuevo pero que en algún momento pasará a estar integrado al espacio social como hoy lo está una plaza o la calle.</p>

    <h4 id="12">¿Qué son las perspectivas transversales de abordaje?</h4>
    <p>Con perspectivas transversales nos referimos a aquellos ejes o líneas temáticas que atraviesan las dimensiones de uso y se encuentran presentes en todas las acciones de la Estrategia de Ciudadanía digital.</p>

    
    <h4 id="13">¿Dónde puedo consultar sobre marcos de Ciudadanía Digital?</h4>
    <p>Para profundizar la información sobre algunos de los marcos de referencia de Ciudadanía Digital que se han desarrollado, les sugerimos los siguientes enlaces:</p>

    <h5>UNESCO (MIL):</h5>
    <p>Marco de Evaluación de la Alfabetización Global en Medios e Información.<br>
    <%= link_to 'http://www.unesco.org/new/en/communication-and-information/media-development/media-literacy/unesco-global-mil-assessment-framework/', 'http://www.unesco.org/new/en/communication-and-information/media-development/media-literacy/unesco-global-mil-assessment-framework/', target: :_blank %><br>
    </p>
    
    <h5>Comisión Europea:</h5>
    <p>Marco de competencia digital 2.0.<br>
    <%= link_to 'https://ec.europa.eu/jrc/en/digcomp/digital-competence-framework', 'https://ec.europa.eu/jrc/en/digcomp/digital-competence-framework', target: :_blank %>
    </p>
    
    <h5>Consejo de Europa: </h5>
    <p>grupo de expertos de Educación para la Ciudadanía Digital.<br>
    <%= link_to 'https://www.coe.int/en/web/digital-citizenship-education/key-domains', 'https://www.coe.int/en/web/digital-citizenship-education/key-domains', target: :_blank %>
    </p> 
    
    <h5>DQ Institute:</h5>
    <p>Estándares globales para alfabetización digital, habilidades y preparación.<br>
    <%= link_to 'https://www.dqinstitute.org/dq-framework/', 'https://www.dqinstitute.org/dq-framework/', target: :_blank %> 
    (En idioma Ingles)
    </p> 
    
  </div>
</div>
