<% if is_proposals %>
  <div class="help-header no-margin-top margin-bottom">
    <div class="row">
      <div class="small-12 column" data-magellan>
        <h3 class=" blue-text inline-block"><%= title %></h3>
          <div>
            <p>
              <%= description.html_safe if local_assigns[:description]  %>
            </p>
          </div>
        <%= link_to title_help, "#section_help", class: "float-right" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="help-header no-margin-top margin-bottom">
    <div class="row">
      <div class="small-12 column" data-magellan>
        <h3 class=" blue-text inline-block"><%= title %></h3>
        <div>
          <p>
           <%= description.html_safe if local_assigns[:description] %>
          </p>
        </div>
        <%= link_to title_help, "#section_help", class: "float-right" %>
      </div>
    </div>
  </div>
<% end %>
