<div class="row">
  <div class="small-12 column">
    <ul class="menu-pages" data-magellan>
      <li>
        <%= link_to "Etapa 1.", "#step_1", class: "button expanded" %>
      </li>
      <li>
        <%= image_tag 'flecha.png', alt: 'flecha', class: "hide-for-small-only" %>
      </li>
      <li>
        <%= link_to "Etapa 2.", "#step_2", class: "button expanded" %>
      </li>
      <li>
        <%= image_tag 'flecha.png', alt: 'flecha' ,class: "hide-for-small-only" %>
      </li>
      <li>
        <%= link_to "Etapa 3.", "#step_3", class: "button expanded" %>
      </li>
      <li>
        <%= image_tag 'flecha.png', alt: 'flecha', class: "hide-for-small-only" %>
      </li>
      <li>
        <%= link_to "Etapa 4.", "#step_4", class: "button expanded" %>
      </li>
    </ul>
  </div>
</div>
