<div class="row">
  <div class="small-12 column">
    <ul class="menu-pages" data-magellan>
      <li>
        <%= link_to "Etapa I.", "#step_1", class: "button expanded" %>
      </li>
      <li>
        <%= image_tag 'flecha.png', alt: 'flecha', class: "hide-for-small-only" %>
      </li>
      <li>
        <%= link_to "Etapa II.", "#step_2", class: "button expanded" %>
      </li>
      <li>
        <%= image_tag 'flecha.png', alt: 'flecha' ,class: "hide-for-small-only" %>
      </li>
      <li>
        <%= link_to "Etapa III.", "#step_3", class: "button expanded" %>
      </li>
      <li>
        <%= image_tag 'flecha.png', alt: 'flecha', class: "hide-for-small-only" %>
      </li>
      <li>
        <%= link_to "Etapa IV.", "#step_4", class: "button expanded" %>
      </li>
    </ul>
  </div>
</div>
