<div class="row section-content">
  <div class="small-12 column">
    <h4 id="<%=Setting['home_title_stages_1'].gsub(/\s+/, '')%>" data-magellan-target="proposals">
      Etapa I. Principios de IA. Consulta Pública.
    </h4><p><%= Setting['home_date_stages_1'] %></p>
    <p>A través del proceso de consulta pública podrás en la Etapa 1, conocer los principios generales de Inteligencia Artificial para el Gobierno Digital,  realizar tus aportes sobre los principios planteados y proponer nuevos principios para integrar.</p>
    <p>Para esto, se ha desarrollado un primer documento que tiene por objetivo plantear principios generales que aporten un marco para investigar y utilizar la Inteligencia Artificial en el ámbito público.</p>
    <p>En la actualidad, los desafíos políticos, éticos, tecnológicos y sociales que presenta esta tecnología reclaman un abordaje holístico y multidisciplinar que genere confianza, garantice derechos y mejore la calidad de vida de las personas.</p>
    <p>Para elaborar este documento se convocó a un grupo interdisciplinario interno de Agesic que analizó, debatió y consensuó una serie de principios generales para desarrollar y aplicar soluciones de Inteligencia Artificial para el Gobierno Digital.</p>
    <p>Este documento estará puesto a consideración de la ciudadanía en general para recibir comentarios y/o aportes que lo enriquezcan y ayuden a crear un nuevo documento, basado en esos principios, que contendrá una propuesta</p>

    <h4 id="<%=Setting['home_title_stages_2'].gsub(/\s+/, '')%>" data-magellan-target="proposals">
      Etapa II. Principios de IA. Análisis de propuestas.
    </h4><p><%= Setting['home_date_stages_2'] %></p>
    <p>Todos los aportes y comentarios serán sistematizados y analizados por el Grupo de Trabajo, de manera de buscar desarrollar una nueva versión del documento de Principios generales.</p>

    <h4 id="<%=Setting['home_title_stages_3'].gsub(/\s+/, '')%>" data-magellan-target="proposals">
      Etapa III. Estrategia de IA. Consulta Pública.
    </h4><p><%= Setting['home_date_stages_3'] %></p>
    <p>En la Etapa 3, podrás realizar aportes sobre la Estrategia de IA para el Gobierno Digital.</p>

    <p>Será puesto a consideración  un documento que contendrá una propuesta de estrategia, para recibir aportes y/o comentarios de la ciudadanía en general.</p>

    <h4 id="<%=Setting['home_title_stages_4'].gsub(/\s+/, '')%>" data-magellan-target="proposals">
      Etapa IV. Aprobación del Documento final de Estrategia de IA.
    </h4><p><%= Setting['home_date_stages_4'] %></p>
    <p>Una vez finalizada la Consulta Pública, se sistematizarán y analizarán todos los aportes y comentarios, y se creará una  versión final del documento.</p>
  </div>
</div>
