<div class="row section-content">
  <div class="small-12 column">

    <h4 id="step_1" data-magellan-target="proposals">Etapa 1. <%= Setting['home_description_stages_1']%></h4>

    <p><%= Setting['home_date_stages_1'] %></p>

    <p>La primera etapa del proceso es para generar ideas y propuestas. Cualquier persona, ya sea a título personal o en representación de un organismo del Estado, de la sociedad civil, academia, sector privado puede participar de esta etapa del proceso.</p>

    <p>Las propuestas son ideas para impulsar acciones vinculadas a transparencia, acceso a la información pública, rendición de cuentas, participación y colaboración ciudadana e innovación. Estas acciones podrán ser de cualquier temática de interés de la persona, por ejemplo, salud, medio ambiente, anticorrupción, discapacidad, derechos humanos, compras públicas, desarrollo local, etc.</p>

    <p>Todas las propuestas, independientemente de la temática deben aportar por lo menos a uno de los pilares de Gobierno Abierto: Transparencia, Rendición de Cuentas, Participación y Colaboración Ciudadana e Innovación Pública.</p>
    <p>Se pueden crear propuestas en forma virtual directamente a través de esta plataforma o participando en instancias de cocreación como mesas de diálogo y talleres. El cronograma actualizado de actividades será publicado en la página <%= link_to 'www.gub.uy/gobierno-abierto', 'https://www.gub.uy/gobierno-abierto', target: :_blank %>. Estos ámbitos tienen como objetivo crear espacios de intercambio entre los diferentes actores para identificar potenciales iniciativas y/o demandas de la sociedad civil que puedan transformarse en compromisos a ser asumidos por organismos del Estado.</p>

    <p>Todas las propuestas estarán publicadas en esta plataforma para que todas las personas puedan conocerlas y comentarlas. Para participar en esta plataforma deberás registrarte en <%= link_to 'Usuario gub.uy', 'https://mi.iduruguay.gub.uy/registro', target: :_blank %> y una vez que tengas el usuario iniciar sesión. </p>


    <!--<p>Finalizada</p>-->

    <h4 id="step_2" data-magellan-target="proposals">Etapa 2. <%= Setting['home_description_stages_2']%></h4>
    <p><%= Setting['home_date_stages_2'] %></p>


    <p>Todas las propuestas y sus comentarios serán sistematizadas y analizadas por el Grupo de Trabajo de Gobierno Abierto, integrado por representantes del Estado (OPP, MEF, MRREE, MIEM, INE, UAIP, AGESIC, Poder Judicial, Poder Legislativo, Congreso de Intendentes), representantes de la Red de Gobierno Abierto por sociedad civil y de la academia (Udelar), para luego ser priorizadas según criterios establecidos por este Grupo de Trabajo. Los criterios se encuentran publicados en <%= link_to 'www.gub.uy/gobierno-abierto', 'https://www.gub.uy/gobierno-abierto', target: :_blank %>.</p>
    <p>Los organismos del Estado serán los responsables de analizar la viabilidad de implementación dentro del plazo establecido para la ejecución dispuesto para el presente plan.</p>

    <p>Las propuestas que se consideren viables de realizar y sostenibles en el tiempo, podrán evolucionar en compromisos que integren total o parcialmente el 5to. Plan de Acción, mientras que las que no alcancen ese estado, podrán ser consideradas para futuras instancias.</p>

    <!--<p>Plazo: hasta el 31 de marzo.</p>-->


    <h4 id="step_3" data-magellan-target="proposals">Etapa 3. <%= Setting['home_description_stages_3']%></h4>
    <p><%= Setting['home_date_stages_3'] %></p>

    <p>Las propuestas que hayan sido priorizadas, sean viables y cuenten con recursos necesarios para su implementación, serán transformadas en compromisos preliminares incluyendo objetivos, metas, plazos de implementación, actores responsables a través de talleres de cocreación.</p>

    <p>La ficha de cada compromiso preliminar será publicada además en consulta pública, para que cualquier persona pueda realizar comentarios y/o aportes. Los comentarios serán intercambiados con los organismos responsables a efectos de definir la viabilidad de su incorporación en el compromiso que finalmente integrará el plan. </p>

    <!--<p>Plazo: hasta el 30 de abril.</p>-->


    <h4 id="step_4" data-magellan-target="proposals">Etapa 4. <%= Setting['home_description_stages_4']%></h4>

    <p><%= Setting['home_date_stages_4'] %></p>

    <p>Una vez finalizada la Consulta Pública, el Grupo de Trabajo de Gobierno Abierto creará la versión final del 5to Plan de acción de Gobierno Abierto. La versión final del Plan, así como los documentos que dan cuenta de todo el proceso son aprobados por las autoridades responsables de los compromisos y formalmente por Decreto del Poder Ejecutivo.</p>

    <p>Una vez aprobado el plan es publicado en <%= link_to 'www.gub.uy/gobierno-abierto', 'https://www.gub.uy/gobierno-abierto', target: :_blank %> y en la página de la Alianza para el Gobierno Abierto.</p>
    <p>Puede acceder a más información de los planes de acción de Uruguay en <%= link_to 'www.gub.uy/gobierno-abierto', 'https://www.gub.uy/gobierno-abierto', target: :_blank %>.</p>

    <!--<p>Plazo: hasta el 15 de mayo.</p>-->

  </div>
</div>
